<div class="grid">
    <div class="w-full place-self-center">
        @foreach (var guess in Helper.Guesses)
        {
            <div class="mb-2 h-10 flex flex-row">
                <div class="@inputClass grow">
                    <p class="bg-white-800 w-max px-2 font-bold">@guess.Text</p>
                </div>
                <div class="@inputClass ml-3 basis-12">
                    @switch (@guess.Position)
                    {
                        case Position.Before:
                            <span class="mx-3 place-self-center tooltip">
                                <i class="twa twa-right-arrow" />
                                <span class="tooltiptext">La réponse est après</span>
                            </span>
                            break;
                        case Position.After:
                            <span class="mx-3 place-self-center tooltip">
                                <i class="twa twa-left-arrow" />
                                <span class="tooltiptext">La réponse est avant</span>
                            </span>
                            break;
                        case null:
                            if (guess.Score == 100)
                            {
                                <span class="mx-3 place-self-center tooltip">
                                    <i class="twa twa-party-popper" />
                                    <span class="tooltiptext">Bonne réponse !! <i class="twa twa-grinning-face-with-big-eyes" /></span>
                                </span>
                            }
                            break;
                    }
                </div>
                <div class="@inputClass ml-3 basis-12">
                    @if (guess.Score is not null)
                    {
                        <p class="bg-slate-800 place-self-center tooltip">
                            @guess.Score%
                            <span class="tooltiptext">Proximité du livre par rapport à la réponse</span>
                        </p>
                    }
                </div>
            </div>
        }
    </div>
</div>

@code {
    private const string inputClass = "py-2 text-slate-400 relative bg-slate-800 rounded-lg shadow outline-none focus:outline-none focus:shadow-outline grid";

    protected async override Task OnInitializedAsync()
    {
        var guesses = await LocalStorage.ContainKeyAsync(nameof(Helper.Guesses))
                        ? await LocalStorage.GetItemAsync<List<Guess>>(nameof(Helper.Guesses))
                        : new();

        if (!Helper.Guesses.Any())
        {
            Helper.Guesses.AddRange(guesses);
            for (int i = 0; Helper.Guesses.Count < 6; i++)
            {
                Helper.Guesses.Add(new());
            }
            foreach (var guess in Helper.Guesses)
            {
                guess.Send += StateHasChanged;
            }
        }
        await base.OnInitializedAsync();
    }
}