<div class="grid">
    <nav class="bg-slate-200 rounded-b-lg lg:w-6/12 h-12 place-self-center flex">
        <NavLink class="h-full mx-3 flex" href="">
            <img src="icon-192.png" alt="Logo Wordle of God">
        </NavLink>
        <div class="flex flex-grow h-full">
            <p class="text-center font-bold text-3xl xs:text-4xl w-full">Word<span class="text-green-600">le</span> of God</p>
        </div>
        <div class="flex flex-row-reverse align-middle h-full">
            <NavLink class="h-full mx-1 text-2xl" href="settings">
                <i class="twa twa-gear h-full" />
            </NavLink>
            <NavLink class="h-full text-2xl hidden" href="stats">
                <i class="twa twa-bar-chart h-full" />
            </NavLink>
            <NavLink class="h-full ml-1 text-2xl" href="help">
                <i class="twa twa-red-question-mark h-full" />
            </NavLink>
        </div>
    </nav>
</div>