@page "/help"

<div class="grid">
    <div class="lg:w-6/12 place-self-center relative flex flex-col min-w-0 break-words bg-slate-800 text-slate-400 w-full shadow-lg rounded-lg p-3 mt-3">
        <p class="text-3xl">Wordle of God</p>
        <br />
        <p>Chaque jour, une nouvelle lecture de la Bible s'affiche.</p>
        <p>Le but du jeu est de deviner de quel livre de la Bible vient la lecture.</p>
        <p>Vous avez 6 essais. Après chacun, deux indices vous sont donnés :</p>
        <p>- La position du livre à trouver par rapport à votre essai ;</p>
        <p>- un pourcentage vous indiquant la proximité du livre à trouver par rapport au vôtre, dans la Bible.</p>
        <br />
        <p>Bonne chance à tous !</p>
        <br />
        <p>Wordle of God est un jeu <b>très</b> inspiré de <a class="underline" href="https://worldle.teuteuf.fr/" target="_blank" rel="noopener noreferrer">Worldle</a>, développé par <a class="underline" href="https://twitter.com/teuteuf" target="_blank" rel="noopener noreferrer">@@teuteuf</a>, qui est lui-même <b>très</b> inspiré de <a class="underline" href="https://www.nytimes.com/games/wordle/index.html" target="_blank" rel="noopener noreferrer">Wordle</a>, développé par <a class="underline" href="https://twitter.com/powerlanguish" target="_blank" rel="noopener noreferrer">Josh Wardle (@@powerlanguish)</a>.</p>
        <p>Icône de l'application créée par <a class="underline" href="https://www.flaticon.com/fr/icone-premium/bible_4239452?term=bible&page=1&position=15&page=1&position=15&related_id=4239452" target="_blank" rel="noopener noreferrer" title="bible icônes">SA Family - Flaticon</a></p>
        <br />
        <p>Développé par <a class="underline" href="https://twitter.com/jbmerio" target="_blank" rel="noopener noreferrer">@@jbmerio</a></p>
        <div>Vous voulez me soutenir ? <a class="underline" href="https://ko-fi.com/jbmerio" target="_blank" rel="noopener noreferrer"><span class="">Offrez moi un café ! <i class="twa twa-hot-beverage" /></span></a></div>
    </div>
</div>