@page "/"

<div class="grid">
    <div class="lg:w-6/12 place-self-center">
        <Reading />
        
        <Board />

        <Answer />
    </div>
</div>

@code{
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!await LocalStorage.ContainKeyAsync(nameof(Welcome)))
        {
            ToastService.ShowToast<Welcome>();
            await LocalStorage.SetItemAsStringAsync(nameof(Welcome), "true");
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}