@page "/settings"

<div class="grid">
    <div class="lg:w-6/12 place-self-center relative flex flex-col min-w-0 break-words bg-slate-800 text-slate-400 w-full shadow-lg rounded-lg p-3 mt-3">
        <h3>Soon, you'll be able to change the language of the game !</h3>

        <h3>Ici, bientôt, des paramètres seront disponibles.</h3>
    </div>
</div>