<a @onclick="() => ToastService.ClearAll()">
    <div class="grid">
        <div class="lg:w-full place-self-center relative border border-1 border-slate-400 flex flex-col min-w-0 break-words bg-slate-800 text-slate-400 w-full shadow-lg rounded-lg p-3 mt-3">
            <div class="flex pb-3">
                <p class="flex flex-grow text-3xl">Bienvenue sur Wordle of God !</p>
                <button @onclick="() => ToastService.ClearAll()"><span class="flex flex-row-reverse text-xl align-top">&times;</span></button>
            </div>
            <p>Essayez de deviner de quel livre de la Bible est tirée la lecture du jour</p>
            <p>Pour connaître les règles, cliquez sur le ❓ du menu.</p>
        </div>
    </div>
</a>